* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: 'Glory', 'Cairo', sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #F7F7F7;
    padding: 12px;
}

main {
    padding: 12px;
    border: 2px solid #323232;
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.example h1 {
    color: #323232;
    font-size: 32px;
}

.example p {
    color: #323232;
    margin: 10px 0 16px 0;
    font-size: 22px;
}

.example .btns {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 12px;
}

.example button {
    flex: 1;
    padding: 12px;
    color: #F7F7F7;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.example .error-btn {
    background-color: #dc3545;
}

.example .success-btn {
    background-color: #28a745;
}