{
    "plugins": ["stylelint-scss"],
    "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],
    "ignoreFiles": "dist/styles.css",
    "rules": {
        "indentation": 4,
        "max-empty-lines": 1,
        "number-max-precision": 3,
        "declaration-no-important": true,
        "declaration-block-no-duplicate-properties": true,
        "declaration-block-single-line-max-declarations": 1,
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "no-extra-semicolons": true,
        "font-weight-notation": "numeric",
        "property-case": "lower",
        "selector-type-case": "lower",
        "function-name-case": "lower",
        "value-keyword-case": "lower",
        "at-rule-no-unknown": null,
        "string-quotes": "double",
        "scss/selector-no-redundant-nesting-selector": true,
        "block-no-empty": true,
        "comment-no-empty": true,
        "at-rule-name-case": "lower",
        "at-rule-semicolon-newline-after": "always",
        "comment-empty-line-before": "always",
        "color-hex-case": "lower",
        "color-hex-length": "long",
        "color-named": "never",
        "unit-case": "lower",
        "no-empty-source": null
    }
}
