// stylelint-disable at-rule-empty-line-before
// stylelint-disable declaration-empty-line-before

@import "../mixins";
@import "../functions";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;

    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: "Glory", "Cairo", sans-serif;
}

body {
    min-height: 100vh;
    padding: px(12);
    @include prefixing-ms(display, grid);
    place-items: center;
    background-color: var(--white-clr-3);
}
