// stylelint-disable at-rule-empty-line-before
// stylelint-disable declaration-empty-line-before

@import "../mixins";
@import "../functions";

.saber-toasts-containers {
    width: px(320);
    direction: rtl;
    position: fixed;
    @include flex-fstart-normal(col);
    gap: px(12);

    @include mq(max, w, xs) {
        width: px(240);
    }
}

.saber-toasts-container {
    &-bottom-right {
        right: px(20);
        bottom: px(20);
    }

    &-top-right {
        right: px(20);
        top: px(20);
        @include flex-dir(col-rev);
    }

    &-bottom-left {
        left: px(20);
        bottom: px(20);
    }

    &-top-left {
        left: px(20);
        top: px(20);
        @include flex-dir(col-rev);
    }
}

.saber-toast {
    width: px(320);
    height: px(80);
    @include prefixing-all(border-radius, px(10));
    @include flex-fstart-stretch;
    gap: px(12);
    background-color: var(--white-clr-1);
    box-shadow: 0 0 px(10) var(--box-shadow-clr);

    @include mq(max, w, xs) {
        width: px(240);
        height: px(66);
        gap: px(8);
    }

    .right-border {
        width: px(6);
        margin: 0 0 0 px(2);
        @include prefixing-all(border-radius, 0 px(10) px(10) 0);
    }

    .state-icon-holder {
        width: px(40);
        @include prefixing-ms(display, grid);
        place-items: center;

        @include mq(max, w, xs) {
            width: px(30);
        }
    }

    .state-icon {
        width: px(40);
        height: px(40);
        @include prefixing-all(border-radius, 50%);
        @include prefixing-ms(display, grid);
        place-items: center;

        @include mq(max, w, xs) {
            width: px(30);
            height: px(30);
        }

        svg {
            width: 50%;
        }
    }

    .text-container {
        @include flex-center-normal(col);
        gap: px(6);
        flex: 1;
        @include flex-grow(1);
        @include flex-shrink(1);
        @include flex-basis(0);

        @include mq(max, w, xs) {
            gap: px(3);
        }
    }

    .title {
        font-size: px(12);

        @include mq(max, w, xs) {
            font-size: px(11);
        }
    }

    .text {
        font-size: px(13);
        color: var(--black-2);
        font-weight: 700;

        @include mq(max, w, xs) {
            font: px(12);
        }
    }

    .close-icon-holder {
        padding: px(12);

        @include mq(max, w, xs) {
            padding: px(8);
        }
    }

    .close-icon {
        width: px(22);
        height: px(22);
        @include prefixing-all(border-radius, 50%);
        @include prefixing-ms(display, grid);
        place-items: center;
        cursor: pointer;
        background-color: var(white-clr-2);

        @include mq(max, w, xs) {
            width: px(18);
            height: px(18);
        }

        svg {
            width: 70%;
            color: var(--black-3);
        }
    }
}
