$color-map: (
    white-clr-1: #ffffff,
    white-clr-2: #f1f1f1,
    white-clr-3: #f7f7f7,

    box-shadow-clr: #0000001a,

    black-1: #323232,
    black-2: #18181a,
    black-3: #00000080,

    success-clr: #52bf5a,
    icon-success-bg: #52bf5a26,

    error-clr: #f96666,
    icon-error-bg: #f9666626,

    warn-clr: #bf9725,
    icon-warn-bg: #bf972526,

    info-clr: #5953ff,
    icon-info-bg: #5953ff26,
);

:root {
    @each $clr, $val in $color-map {
        --#{$clr}: #{$val};
    }
}
